# .dockerignore

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python virtual environment
.venv
/myenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# IDE / Editor
.idea/
.vscode/

# Test artifacts
.pytest_cache/
.coverage

# Local env files
.env
.env.*
! .env.prod